<div class="d-flex justify-content-between px-3 py-2 border-botton shadow-sm bg-info text-white">
    <h5 class="p-0 mt-2">Admin Panel</h5>
    <h4 class="p-0 m-0"><button (click)="logout()" class="bg-transparent border-0 text-white">
        <svg class="bi bi-power" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M5.578 4.437a5 5 0 104.922.044l.5-.866a6 6 0 11-5.908-.053l.486.875z" clip-rule="evenodd"/>
            <path fill-rule="evenodd" d="M7.5 8V1h1v7h-1z" clip-rule="evenodd"/>
          </svg>
        </button></h4>
</div>

