.nav-scroller {
    position: relative;
    z-index: 2;
    overflow-y: hidden;
  }
  
  .nav-scroller .nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    background-color: #fff;
    border-top: 1px solid lightgray;
  }
  
  .nav-scroller .nav-link {
    font-size: 15px;
    color : #6c757d;
    padding: 0;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .nav-scroller .nav-link:hover{
    color: #17a2b8;
  }
  .nav-scroller .nav-link:focus{
    color: #17a2b8;
  }