<div class="container scroll bg-transparent pt-3">
  <h4 class="font-weight-normal">Select Theme</h4>
  <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
  <a [href]="user_website_url" target="blank" class="btn btn-info rounded-0 px-5">My Website</a>
  <hr>

  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4">
    <div class="col my-3" *ngFor="let item of themeTemplates;">
      <div class="card">
        <img src="{{item.thumbnailImgUrl}}" class="card-img-top" alt="{{item.title}}" onError="this.src='https://cdn.dribbble.com/users/696649/screenshots/4904230/lp-loader_1.gif'">
        <div class="card-body pl-2 py-3">
          <p class="card-text template-title">{{item.title}}</p>
          <button type="button" class="btn btn-info btn-sm rounded-0 mr-2">Select</button>
          <button type="button" class="btn btn-outline-info btn-sm rounded-0 mr-2">View</button>
        </div>
      </div>
    </div>
  </div>
</div>