.card:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
}

.template-title{
    font-size: 15px;
}

.scroll {
    max-height: 90vh;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .scroll::-webkit-scrollbar {
    width: 0px;
  }