.card:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
}

.template-title{
    font-size: 15px;
}

@media(max-width:320px){
    .template-title{
        font-size: 10px;
    }
    .container h4{
        font-size: 17px;
    }
    .container p{
        font-size: 15px;
        text-justify: auto;
        letter-spacing: 2px;
    }
}