<p>forget-password works!</p>


<div class="container my-5">
    
<form (ngSubmit)="resetPassword(forgetPasswordForm)" #forgetPasswordForm="ngForm">
    <input 
            type="email" 
            placeholder="Enter your Email Address" 
            name="email" 
            ngModel 
            required 
            [(ngModel)]="forgetPasswordForm.name" 
            #email="ngModel"
            minlength="10"
        >
        <p *ngIf="email.invalid && (email.dirty || email.touched)">
            <small class="form-text text-danger" *ngIf="email.errors.required">Email is
                required.</small>
            <small class="form-text text-danger" *ngIf="email.errors.minlength">Email must be at least
                10 characters long.</small>
        </p><br><br>

    <button type="submit" [disabled]="!forgetPasswordForm.valid">Reset Password</button><br><br>

    <p>Please sign in into your account <span><a routerLink="/auth">Click here</a></span></p>
</form>
</div>