<div class="jumbotron jumbotron-fluid m-0">
    <div class="container form-card py-3">
        <div class="mb-2">
            <img src="https://splixcube.com/images/favicon.png" alt="Brand Logo" width="50" height="50"><br><br>
            <h5 class="text-info">Forget Password</h5>
        </div>
        <form (ngSubmit)="resetPassword(forgetPasswordForm)" #forgetPasswordForm="ngForm">
            <div class="form-group">
                <input type="email" placeholder="Enter your Email Address" name="email" ngModel required
                    [(ngModel)]="forgetPasswordForm.name" #email="ngModel" minlength="10">
                <p *ngIf="email.invalid && (email.dirty || email.touched)">
                    <small class="form-text text-danger" *ngIf="email.errors.required">Email is
                        required.</small>
                    <small class="form-text text-danger" *ngIf="email.errors.minlength">Email must be at least
                        10 characters long.</small>
                </p>
            </div>
            <button type="submit" class="btn-info border shadow-sm px-4 py-2 rounded-0"
                [disabled]="!forgetPasswordForm.valid">Reset Password</button><br><br>

            <p>Please sign in into your account <span><a routerLink="/auth">Click here</a></span></p>
        </form>
    </div>
</div>