<div class="container scroll bg-transparent pt-3">
  <h4 class="font-weight-normal">Social media links</h4>
  <hr>
  <form #form="ngForm" autocomplete="off" (submit)="saveSocialMedia(form)">
    <input type="hidden" name="id" #id="ngModel" ngModel>
    <div class="form-group">
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <div class="input-group-text bg-transparent border-0"><i class="fa fa-facebook"></i>&nbsp;&nbsp; Facebook</div>
        </div>
        <input type="text" class="rounded-0" placeholder="www.facebook.com/username" name="facebook"
          #facebook="ngModel" ngModel [(ngModel)]="socialMedia.facebook">
      </div>
    </div>
    <div class="form-group">
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <div class="input-group-text bg-transparent border-0"><i class="fa fa-instagram"></i>&nbsp;&nbsp; Instagram</div>
        </div>
        <input type="text" class="rounded-0" placeholder="www.instalgram.com/username" name="instagram"
          #instagram="ngModel" ngModel [(ngModel)]="socialMedia.instagram">
      </div>
    </div>
    <div class="form-group">
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <div class="input-group-text bg-transparent border-0"><i class="fa fa-twitter"></i>&nbsp;&nbsp; Twitter</div>
        </div>
        <input type="text" class="rounded-0" placeholder="www.twitter.com/username" name="twitter"
          #twitter="ngModel" ngModel [(ngModel)]="socialMedia.twitter">
      </div>
    </div>
    <div class="form-group">
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <div class="input-group-text bg-transparent border-0"><i class="fa fa-youtube"></i>&nbsp;&nbsp; YouTube</div>
        </div>
        <input type="text" class="rounded-0" placeholder="www.youtube.com/username" name="youtube"
          #youtube="ngModel" ngModel [(ngModel)]="socialMedia.youtube">
      </div>
    </div>
    <div class="form-group">
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <div class="input-group-text bg-transparent border-0"><i class="fa fa-linkedin-square"></i>&nbsp;&nbsp; Linkedin</div>
        </div>
        <input type="text" class="rounded-0" placeholder="www.linkedin.com/username" name="linkedin"
          #linkedin="ngModel" ngModel [(ngModel)]="socialMedia.linkedin">
      </div>
    </div>
    <div class="form-group">
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <div class="input-group-text bg-transparent border-0"><i class="fa fa-music"></i>&nbsp;&nbsp; TikTok</div>
        </div>
        <input type="text" class="rounded-0" placeholder="www.tiktok.com/username" name="tiktok"
          #tiktok="ngModel" ngModel [(ngModel)]="socialMedia.tiktok">
      </div>
    </div>
    <div class="form-group">
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <div class="input-group-text bg-transparent border-0"><i class="fa fa-pinterest"></i>&nbsp;&nbsp; Pinterest</div>
        </div>
        <input type="text" class="rounded-0" placeholder="www.pinterest.com/username" name="pinterest"
          #pinterest="ngModel" ngModel [(ngModel)]="socialMedia.pinterest">
      </div>
    </div>
    <button type="submit" class="btn btn-info rounded-0 px-5">Save</button>
  </form>
</div>