.center { 
    margin-top: 150px;
    position: relative;
  }
  
  .center .content {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  input[type="email"],input[type="password"],input[type="text"]{
      width: 100%;
      padding: 5px;
      padding-left: 10px;
      background-color: #fff;
      color: rgb(54, 54, 54);
      border: 0;
      border-bottom: 1px solid #1A73E8;
  }
  input[type="email"],input[type="password"],input[type="text"]:focus{
      outline: none;
  }

  form p{
      color: #222;
      font-size: 15px;
  }