<div class="container scroll bg-transparent pt-3">
  <h4 class="font-weight-normal">Contact Informations</h4>
  <hr>
  <form #form="ngForm" autocomplete="off" (submit)="contactInforamtions(form)">
    <fieldset class="border p-3 mb-3">
      <legend class="w-auto">Personal Information:</legend>
      <div class="row form-group">
        <div class="col input-group mb-2">
          <input type="text" placeholder="Full name" name="fullname" [(ngModel)]="data.ownerName">
        </div>
      </div>
      <div class="form-group">
        <div class="input-group mb-2 mr-sm-2 mb-2">
          <input type="text" placeholder="Phone Number" name="phoneNo" [(ngModel)]="data.phoneNo"
            (keypress)="OnlyDigit($event)" maxlength="10">
        </div>
      </div>
      <div class="form-group">
        <div class="input-group mb-2 mr-sm-2 mb-2">
          <input type="text" placeholder="Whatsapp Number" name="whatsappNo"
            [(ngModel)]="data.whatsappNo" (keypress)="OnlyDigit($event)" maxlength="10">
        </div>
      </div>
      <div class="row form-group">
        <div class="col input-group mb-2">
          <input type="email" placeholder="Email Address" name="email" [(ngModel)]="data.email">
        </div>
      </div>
      <div class="row form-group">
        <div class="col input-group mb-2">
          <input type="text" placeholder="Shop Name" name="shopName" [(ngModel)]="data.shopName">
        </div>
      </div>
    </fieldset>
    <fieldset class="border p-3 mb-3">
      <legend class="w-auto">Address:</legend>
      <div class="form-group">
        <label for="inputAddress">Address</label>
        <input type="text" placeholder="1234 Main St" name="area" [(ngModel)]="data.address.area">
      </div>
      <div class="form-group">
        <label for="inputState">Country</label>
        <select name="country" [(ngModel)]="data.address.country">
          <option disabled>Choose Country</option>
          <option selected>India</option>
        </select>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputCity">City</label>
          <input type="text" name="city" [(ngModel)]="data.address.city">
        </div>
        <div class="form-group col-md-4">
          <label for="inputState">State</label>
          <select name="state" [(ngModel)]="data.address.state">
            <option disabled>Choose State</option>
            <option selected>Rajasthan</option>
            <option>Gujarat</option>
            <option>Mumbai</option>
            <option>Dehli</option>
          </select>
        </div>
        <div class="form-group col-md-2">
          <label for="inputZip">Zip Code</label>
          <input type="text" name="zipCode" [(ngModel)]="data.address.zipCode"
            (keypress)="OnlyDigit($event)" maxlength="8">
        </div>
      </div>
      
    </fieldset>
    <button type="submit" class="btn btn-info rounded-0 px-5">Save</button>
  </form>
</div>