<p>
  contact-inforamtions works!
</p>


<div class="container my-5 text-left">
  <h3>Contact Informations</h3>
  <hr>
  <form #form="ngForm" autocomplete="off" (submit)="contactInforamtions(form)">


    <fieldset class="border p-3 mb-3 shadow-sm">
      <legend class="w-auto">Personal Information:</legend>

      <div class="row form-group">
        <div class="col input-group mb-2">
          <input type="text" class="form-control" placeholder="First name" name="fname" required ngModel>
        </div>
        <div class="col input-group mb-2">
          <input type="text" class="form-control" placeholder="Last name" name="lname" ngModel required>
        </div>
      </div>

      <div class="form-group">
      <div class="input-group mb-2 mr-sm-2 mb-2">
        <div class="input-group-prepend">
          <select class="custom-select rounded-0"  name="phoneNoCode" ngModel required>
            <option selected disabled>Country Code</option>
            <option value="91">91</option>
            <option value="92">92</option>
            <option value="93">93</option>
          </select>
        </div>
        <input type="text" class="form-control" placeholder="Phone Number" name="phoneNo" ngModel (keypress)="OnlyDigit($event)" maxlength="10" required>
      </div>
      </div>
      
      <div class="form-group">
      <div class="input-group mb-2 mr-sm-2 mb-2">
        <div class="input-group-prepend">
          <select class="custom-select rounded-0"  name="whatsappNoCode" ngModel required>
            <option selected disabled>Country Code</option>
            <option value="91">91</option>
            <option value="92">92</option>
            <option value="93">93</option>
          </select>
        </div>
        <input type="text" class="form-control" placeholder="Whatsapp Number" name="whatsappNo" ngModel (keypress)="OnlyDigit($event)" maxlength="10" required>
      </div>
      </div>

      <div class="row form-group">
        <div class="col input-group mb-2">
          <input type="email" class="form-control" placeholder="Email Address" name="email" ngModel required>
        </div>
      </div>
      
      <div class="row form-group">
        <div class="col input-group mb-2">
          <input type="text" class="form-control" placeholder="Shop Name" name="shopName" ngModel required>
        </div>
      </div>


    </fieldset>

    <fieldset class="border p-3 mb-3 shadow-sm">
      <legend class="w-auto">Address:</legend>

      <div class="form-group">
        <label for="inputAddress">Address</label>
        <input type="text" class="form-control" placeholder="1234 Main St" name="area" ngModel required>
      </div>
      <div class="form-group">
        <label for="inputState">Country</label>
        <select class="form-control" name="country" ngModel required>
          <option disabled>Choose Country</option>
          <option selected>India</option>
        </select>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputCity">City</label>
          <input type="text" class="form-control" name="city" ngModel required>
        </div>
        <div class="form-group col-md-4">
          <label for="inputState">State</label>
          <select class="form-control" name="state" ngModel required>
            <option disabled>Choose State</option>
            <option selected>Rajasthan</option>
            <option>Gujarat</option>
            <option>Mumbai</option>
            <option>Dehli</option>
          </select>
        </div>
        <div class="form-group col-md-2">
          <label for="inputZip">Zip Code</label>
          <input type="text" class="form-control" name="zipCode" ngModel (keypress)="OnlyDigit($event)" maxlength="8" required>
        </div>
      </div>
      <div class="form-group">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" name="confrim" ngModel required>
          <label class="form-check-label" for="gridCheck">
            All fileds are correct? checked for yes.
          </label>
        </div>
      </div>
    </fieldset>



    <button type="submit" class="btn btn-primary">Save</button>
  </form>
</div>