<div class="bg-white border text-center mb-5 pb-5">
    <div class="custom-file py-5">
        <input type="file" name="file" id="file" class="inputfile custom-file-input" multiple
            (change)="carouselSlideProcessing($event)" #Image />
        <label for="file">Select Carousel Slides Images from Your Device</label>
    </div>
</div>
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 mt-3">
    <div *ngFor="let slide of slides" class="col-lg-3 my-2">
        <div class="card border-0 bg-transparent rounded-0">
            <img src="{{slide.imgUrl}}" style="height: 200px;" class="card-img rounded-0"
            onError="this.src='https://cdn.dribbble.com/users/696649/screenshots/4904230/lp-loader_1.gif'">
            <button class="btn btn-info rounded-0 btn-sm" (click)="removeFile(slide.id)">Delete</button>
        </div>
    </div>
</div>