/* You can add global styles to this file, and also import other style files */
@import '~ngx-toastr/toastr';
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

.scroll {
    max-height: 85vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.scroll::-webkit-scrollbar {
    width: 0px;
}

.cursor-pointer:hover{
    cursor: pointer;
}

input[type="email"],input[type="text"],input[type="password"],input[type="number"]{
    width: 100%;
    padding: 5px;
    padding-left: 0;
    background-color: transparent;
    color: rgb(54, 54, 54);
    border: 0;
    border-bottom: 1px solid #17a2b8;
}
select{
    width: 100%;
    padding: 5px;
    padding-left: 0;
    background-color: transparent;
    color: rgb(54, 54, 54);
    border: 0;
    border-bottom: 1px solid #17a2b8;
}
textarea{
    width: 100%;
    padding: 5px;
    padding-left: 0;
    background-color: transparent;
    color: rgb(54, 54, 54);
    border: 0;
    border-bottom: 1px solid #17a2b8;
}
input[type="email"]:focus{
    background-color: transparent;
    outline: none;
}
input[type="text"]:focus{
    background-color: transparent;
    outline: none;
}
input[type="password"]:focus{
    background-color: transparent;
    outline: none;
}
input[type="number"]:focus{
    background-color: transparent;
    outline: none;
}
textarea:focus{
    background-color: transparent;
    outline: none;
}