<div class="jumbotron jumbotron-fluid m-0">
    <div class="container form-card py-3">
        <div class="mb-2">
            <img src="https://splixcube.com/images/favicon.png" alt="Brand Logo" width="50" height="50"><br><br>
            <h5 class="text-info">Please Login</h5>
        </div>
        <form (ngSubmit)="signin(signinForm)" #signinForm="ngForm">
            <div class="form-group">
                <input type="email" placeholder="Enter email address" name="email" ngModel required>
            </div>
            <div class="form-group">
                <input type="password" placeholder="Enter Password" minlength="8" maxlength="12" name="password" ngModel
                    required [(ngModel)]="signinForm.name" #password="ngModel">
                <p *ngIf="password.invalid && (password.dirty || password.touched)">
                    <small class="form-text text-danger" *ngIf="password.errors.required">Password is
                        required.</small>
                    <small class="form-text text-danger" *ngIf="password.errors.minlength">Password must be at least
                        8 characters long.</small>
                </p>
            </div>

            <button type="submit" class="btn-info border shadow-sm px-4 py-2 rounded-0"
                [disabled]="!signinForm.valid">Login</button><br><br>

            <p>Forget Password <span><a routerLink="/auth/forget-password">Click here</a></span></p>

            <p>if you don't have an account <span><a routerLink="signup">Click here</a></span></p>
        </form>
    </div>
</div>