<div class="d-flex justify-content-between flex-wrap flex-md-nowrap border-bottom mb-4 mt-0">
    <h4 class="font-weight-normal">Payments</h4>
  <hr>




  
  
</div>
    <form #form="ngForm" autocomplete="off" (submit)="savePaymentMethod(form)">
      <fieldset class="border p-3 mb-3">
        <legend class="w-auto">Payments Id's:</legend>
  
  
        <div class="row form-group">
          <div class="col input-group mb-2">
            <input type="text" class="form-control" placeholder="RazorPay Id" name="razorpay" ngModel required>
          </div>
        </div>
        <div class="row form-group">
          <div class="col input-group mb-2">
            <input type="text" class="form-control" placeholder="Paytm Id" name="paytm" ngModel required>
          </div>
        </div>
        <div class="row form-group">
          <div class="col input-group mb-2">
            <input type="text" class="form-control" placeholder="PhonePay Id" name="phonePay" ngModel required>
          </div>
        </div>
        <div class="row form-group">
          <div class="col input-group mb-2">
            <input type="text" class="form-control" placeholder="UPI Id" name="upi" ngModel required>
          </div>
        </div>
        <div class="row form-group">
          <div class="col input-group mb-2">
            <input type="text" class="form-control" placeholder="Google Pay Id" name="googlePay" ngModel required>
          </div>
        </div>
  
      </fieldset>
  
      <fieldset class="border p-3 mb-3">
        <legend class="w-auto">Bank Details:</legend>
  
        <div class="form-group">
          <label for="inputAddress">Account Holder Name</label>
          <input type="text" class="form-control" placeholder="" name="acHoldName" ngModel required>
        </div>
        <div class="form-group">
          <label for="inputAddress">Account No.</label>
          <input type="text" class="form-control" placeholder="" name="acNo" ngModel required>
        </div>
        <div class="form-group">
          <label for="inputAddress">IFSC Code</label>
          <input type="text" class="form-control" placeholder="" name="ifsc" ngModel required>
        </div>
  
      </fieldset>
  
      <button type="submit" class="btn btn-info rounded-0 px-4">Save</button>
    </form>
